
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
